/* App.css */

:root {
  --primary-color: #004d99; /* Dark blue */
  --secondary-color: #ff7f00; /* Orange */
  --accent-color: #007acc; /* Light blue */
  --background-color: #f5f5f5; /* Light gray */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px; /* Add padding for space around the edges */
  background-color: red;
}

.container {
  display: flex;
  justify-content: space-between;
}

.timeline-container {
  flex: 1;
  margin-right: 20px;
}

.notable-figures-container {
  flex: 1;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

h2 {
  margin-top: 20px;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

.timeline li {
  cursor: pointer;
  padding: 5px 0;
}

.timeline li:hover {
  background-color: #f0f0f0;
}

.notable-figures li {
  margin-bottom: 10px;
}

.notable-figures strong {
  font-weight: bold;
}
